/**
 * @author Jan-Christoph Borchardt, http://jancborchardt.net
 * @copyright Copyright (c) 2015, ownCloud, Inc.
 * @license AGPL-3.0
 *
 * This code is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License, version 3,
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License, version 3,
 * along with this program.  If not, see <http://www.gnu.org/licenses/>
 */


/* header color */
/* this is the main brand color */
#body-user #header,
#body-settings #header,
#body-public #header {
	background-color: #d19b3d;
	background-image: url('../img/tile_head1.png');
}

/* log in screen background color */
/* gradient of the header color and a brighter shade */
/* can also be a flat color or an image */
#body-login {
	background: #d19b3d; /* Old browsers */
	background: -moz-linear-gradient(top, #94cab1917bea 0%, #d19b3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cab191), color-stop(100%,#d19b3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cab191 0%,#d19b3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cab191 0%,#d19b3d 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #cab191 0%,#d19b3d 100%); /* IE10+ */
	background: linear-gradient(top, #cab191 0%,#d19b3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cab191', endColorstr='#d19b3d',GradientType=0 ); /* IE6-9 */
}

/* primary action button, use sparingly */
/* header color as border, brighter shade again, here as background */
.primary,
input[type="submit"].primary,
input[type="button"].primary,
button.primary,
.button.primary,
.primary:active,
input[type="submit"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
	border-color: #d19b3d;
	background-color: #cab191;
}
.primary:hover,
input[type="submit"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover,
.primary:focus,
input[type="submit"].primary:focus,
input[type="button"].primary:focus,
button.primary:focus,
.button.primary:focus {
	background-color: #8b75e4;
}
.primary:active, input[type="submit"].primary:active, input[type="button"].primary:active, button.primary:active, .button.primary:active,
.primary:disabled, input[type="submit"].primary:disabled, input[type="button"].primary:disabled, button.primary:disabled, .button.primary:disabled,
.primary:disabled:hover, input[type="submit"].primary:disabled:hover, input[type="button"].primary:disabled:hover, button.primary:disabled:hover, .button.primary:disabled:hover,
.primary:disabled:focus, input[type="submit"].primary:disabled:focus, input[type="button"].primary:disabled:focus, button.primary:disabled:focus, .button.primary:disabled:focus {
	background-color: #745bca;
}

#body-user #header, #body-settings #header, #body-public #header {
	height: 50px;
}

/* use logos from theme */

#header .logo {
	background-image: url('../img/db5d_logo_splash.png');
}
#header .logo-icon {
	background-image: url('../img/db5d_logo_top_menu.png') !important;
}
#header .logo-icon {
    width: 226px;
    height: 53px;
}
#nextcloud {
	padding-left:273px;
}
ul#appmenu {
	height: 50px;
}

/* MAIL APP */

#mail-message-header .transparency a{
    color: #d19b3d !important;
}
#mail-message-header .transparency a {
   color: #d19b3d !important;
}
.mail-message-body{
    background: #fff5cf;
    color:#000;
}



.logo-cube-wrap{ margin-top: 14px; perspective: 100px; perspective-origin: 50% 50%; }
.logo-3dcube {
     margin: auto;
     position: relative;
     height: 14px;
     width: 14px;
     transform-style: preserve-3d;
     -ms-transform-style: preserve-3d;
     -webkit-transform-style: preserve-3d;
}
.logo-3dcube div {
     position: absolute;
     box-sizing: border-box;
     padding: 0;
     height: 100%;
     width: 100%;
     border: none;
     color: #ffffff;
}
.logo-cube-wrap {
    position: absolute;
    left: 16px;
    top: 4px;
}

.dcube-front {
 transform: translateZ(7px);
 -ms-transform: translateZ(7px);
 -webkit-transform: translateZ(7px);
 background-color:#333;
}
.dcube-back {
 transform: translateZ(-7px) rotateY(180deg);
 -webkit-transform: translateZ(-7px) rotateY(180deg);
 -ms-transform: translateZ(-7px) rotateY(180deg);
 background-color:#000;
}
.dcube-right {
 transform: rotateY(-270deg) translateX(7px);
 -ms-transform: rotateY(-270deg) translateX(7px);
 -webkit-transform: rotateY(-270deg) translateX(7px);
 transform-origin: top right;
 -ms-transform-origin: top right;
 -webkit-transform-origin: top right;
 background-color:#2e353d;
}
.dcube-left {
 transform: rotateY(270deg) translateX(-7px);
 -webkit-transform: rotateY(270deg) translateX(-7px);
 -ms-transform: rotateY(270deg) translateX(-7px);
 transform-origin: center left;
 -ms-transform-origin: center left;
 -webkit-transform-origin: center left;
 background-color:#3f5570;
}
.dcube-top {
 transform: rotateX(-270deg) translateY(-7px);
 -webkit-transform: rotateX(-270deg) translateY(-7px);
 -ms-transform: rotateX(-270deg) translateY(-7px);
 transform-origin: top center;
 -ms-transform-origin: top center;
 -webkit-transform-origin: top center;
 background-color:#818181;


}
.dcube-bottom {
 transform: rotateX(270deg) translateY(7px);
 -webkit-transform: rotateX(270deg) translateY(7px);
 -ms-transform: rotateX(270deg) translateY(7px);
 transform-origin: bottom center;
 -ms-transform-origin: bottom center;
 -webkit-transform-origin: bottom center;
 background-color:#020203;
}
@keyframes rotate3dcube {
 from {
 transform: rotateX(-33deg) rotateY(0deg);
 -ms-transform: rotateX(-33deg) rotateY(0deg);
 -webkit-transform: rotateX(-33deg) rotateY(0deg);
 }
to {
 transform: rotateX(-33deg) rotateY(360deg);
 -ms-transform: rotateX(-33deg) rotateY(360deg);
 -webkit-transform: rotateX(-33deg) rotateY(360deg);
 }
}
@-webkit-keyframes rotate {
 from {
 transform: rotateX(0deg) rotateY(0deg);
 -ms-transform: rotateX(0deg) rotateY(0deg);
 -webkit-transform: rotateX(0deg) rotateY(0deg);
 }
to {
 transform: rotateX(360deg) rotateY(360deg);
 -ms-transform: rotateX(360deg) rotateY(360deg);
 -webkit-transform: rotateX(360deg) rotateY(360deg);
 }
}
.logo-3dcube {
 animation: rotate3dcube 40s infinite linear;
 -webkit-animation: rotate3dcube 40s infinite linear;
}

.app-mail #app-content {
    background-color: #333;
}

.app-mail .app-content-details {
    background-color: #fff5cf;
}
.app-mail #mail-message-header {
    background: #fffcdf;
}

/* DECK */


    
  .app.app-deck  .stack { 
        background: rgb(20,00,00,.8);  
        min-height: 700px;
    
    }
 .app.app-deck #board {
        background-image: url('../img/bg-splash-1.jpg');
        background-size: cover;
    }

